<section id="quintoCont">
            <div id="text5Section">
                Short heading
            </div>
            <div id="par5Section">
                Each and every one of us has that moment when we are suddenly stunned <br>
                when we come face to face with the enormity of the universe.
            </div>
            <div id="gridCont">
                <div id="contentCont5">
                    <img src="/../assets/img/Graphics 2 (Logo, Icons & Illustrations).png" alt="Estrella">
                    <h1>Step 1</h1>
                    <p>
                        Third you will likely be required to install the fixed <br>
                        mounts. These are what will keep the apparatus <br>
                        stable and secure.
                    </p>
                </div>
                <div id="flecha"><img src="/../assets/img/arrow_forward.png" alt="flecha" id="flecha"></div>
                <div id="contentCont5">
                    <img src="/../assets/img/Graphics 2 (Logo, Icons & Illustrations).png" alt="Estrella">
                    <h1>Step 2</h1>
                    <p>
                        Third you will likely be required to install the fixed <br>
                        mounts. These are what will keep the apparatus <br>
                        stable and secure.
                    </p>
                </div>
                <div id="flecha"><img src="/../assets/img/arrow_forward.png" alt="flecha" id="flecha"></div>
                <div id="contentCont5">
                    <img src="/../assets/img/Graphics 2 (Logo, Icons & Illustrations).png" alt="Estrella">
                    <h1>Step 3</h1>
                    <p>
                        Third you will likely be required to install the fixed <br>
                        mounts. These are what will keep the apparatus <br>
                        stable and secure.
                    </p>
                </div>
            </div>
        </section>
