<section id="septCont">
            <div id="contentCont3">
                <img src="/../assets/img/Image2.png" alt="placeholder">
                <h1>01 MAY 2020</h1>
                <h2>Heading</h2>
                <p>
                    Moment in the life of any aspiring <br>
                    astronomer of that it is time to buy <br>
                    that first telescope.
                </p>
                <div id="bottomText1">
                    <img src="/../assets/img/visibility.png" alt="eye">
                    <p>7.4k</p>
                    <img src="/../assets/img/visibility2.png" alt="text">
                    <p>31</p>
                </div>
            </div>
            <div id="contentCont3">
                <img src="/../assets/img/Image2.png" alt="placeholder">
                <h1>01 MAY 2020</h1>
                <h2>Two line header <br>
                    example</h2>
                <p>
                    Moment in the life of any aspiring <br>
                    astronomer of that it is time to buy <br>
                    that first telescope.
                </p>
                <div id="bottomText1">
                    <img src="/../assets/img/visibility.png" alt="eye">
                    <p>7.4k</p>
                    <img src="/../assets/img//../assets/img/bility2.png" alt="text">
                    <p>31</p>
                </div>
            </div>
            <div id="contentCont3">
                <img src="/../assets/img/Image2.png" alt="placeholder">
                <h1>01 MAY 2020</h1>
                <h2>Heading</h2>
                <p>
                    Moment in the life of any aspiring <br>
                    astronomer of that it is time to buy <br>
                    that first telescope.
                </p>
                <div id="bottomText1">
                    <img src="/../assets/img/visibility.png" alt="eye">
                    <p>7.4k</p>
                    <img src="/../assets/img/visibility2.png" alt="text">
                    <p>31</p>
                </div>
            </div>
            <div id="contentCont3">
                <img src="/../assets/img/Image2.png" alt="placeholder">
                <h1>01 MAY 2020</h1>
                <h2>Two line header <br>
                    example</h2>
                <p>
                    Moment in the life of any aspiring <br>
                    astronomer of that it is time to buy <br>
                    that first telescope.
                </p>
                <div id="bottomText1">
                    <img src="/../assets/img/visibility.png" alt="eye">
                    <p>7.4k</p>
                    <img src="/../assets/img/visibility2.png" alt="text">
                    <p>31</p>
                </div>
            </div>
        </section>
