<section id="section2">

        <div id="lineHeaders">

            <div class="lines">
                <div>
                    <img src="/../assets/img/SmallCircleandStar.png" alt="CircleStar" class="center">
                    <h1>One line header</h1>
                </div>
                <p>Computers are infected with Adware and spyware. Such software is rarely accompanied by uninstall
                    utility.
                </p>
            </div>

            <div class="lines">
                <div>
                    <img src="/../assets/img/SmallCircleandStar.png" alt="CircleStar" class="center">
                    <h1>One line header</h1>
                </div>
                <p>Computers are infected with Adware and spyware. Such software is rarely accompanied by uninstall
                    utility.
                </p>
            </div>

            <div class="lines">
                <div>
                    <img src="/../assets/img/SmallCircleandStar.png" alt="CircleStar" class="center">
                    <h1>One line header</h1>
                </div>
                <p>Computers are infected with Adware and spyware. Such software is rarely accompanied by uninstall
                    utility.
                </p>
            </div>

        </div>

        <img src="/../assets/img/window.png" alt="">
    </section>
