        <section id="sextoCont">
            <div id="contentCont1">
                <img src="/../assets/img/Graphics 2 (Logo, Icons & Illustrations).png" alt="Estrella" id="estrella">
                <h1>Heading</h1>
                <p>
                    The beauty of astronomy is that anybody can do it. From <br>
                    the tiniest baby to the most advanced astrophysicist, there <br>
                    is something for anyone who wants to enjoy astronomy.
                </p>
                <a href="#">Learn more</a>
            </div>
            <div id="iphonex">
                <img src="/../assets/img/iPhone XX.png" alt="iPhone">
            </div>
        </section>
